
#city-list {
    list-style-type: none;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}
#page-header {
    font-size: 35px;
}
.lowUV {
    background-color: green;
}
.moderateUV {
    background-color: yellow;
}
.extremeUV {
    background-color: purple;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
.text-white {
    color: white;
    z-index: 2;
}

label {
    color: white;
}

#currentday-weather {
    background-color: #637074;
}

.card {
    background-color: #8693AB;
    color: black;
}
nav {
    background-color: #212227;
    border-bottom: 5px solid #637074;
}
.card-title {
    font-weight: bold;
}

.card-subtitle {
    font-weight: bold;
    font-size: 25px;
}

.list-group-item{
    background-color: #BDD4E7;
}
input {
    background-color: #BDD4E7;
}
#submit-button {
    background-color: #212227;
}
#search {
    border-right: 1px solid #637074;
    
}
