body {
  font-family: 'Oswald', sans-serif;
}

#city-list {
  list-style-type: none;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
#page-header {
  font-size: 35px;
}
.lowUV {
  background-color: green;
}
.moderateUV {
  background-color: yellow;
}
.extremeUV {
  background-color: purple;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.text-white {
  color: #264653;
}

label {
  color: #264653;
  font-size: 20px;
  font-weight: bold;
  
}

#currentday-weather {
  background-color: #e9c46a;
  font-weight: 300;
}

.card {
  background-color: #e76f51;
  color: black;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
nav {
  background-color: #264653;
  border-bottom: 5px solid #2a9d8f;
}
#page-header {
  color: white;
}
.card-title {
  font-weight: bold;
}

.card-subtitle {
  font-weight: bold;
  font-size: 25px;
}

.list-group-item {
  background-color: #f4a261;
  font-size: 12px;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-left: 5px;
}
input {
  background-color: white;
  font-size: 20px;
  width: 100%;
}
#submit-button {
  background-color: #e76f51;
  font-size: 20px;
  margin-bottom: 5px;
  color: black;
  padding-left: 4px;
}
#search {
  border-right: 1px solid #2a9d8f;
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    input {
        width: 100%;
    }
    #currentday-weather {
        font-size: 20px;
        font-weight: 300;
    }
    .card {
        font-size: 13.5px;
        text-align: center;
        font-weight: bold;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    input {
        width: 100%;
    }
    #currentday-weather {
        font-size: 25px;
        font-weight: 300;
    }
    .card {
        font-size: 11.2px;
        text-align: center;
        font-weight: bold;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    input {
        width: 100%;
    }
    #currentday-weather {
        font-size: 20px;
        font-weight: 300;
    }
    .card {
        font-size: 10px;
        text-align: center;
        font-weight: bold;
    }
   
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    input {
        width: 100%;
    }
    #currentday-weather {
        font-size: 20px;
        font-weight: 300;
    }
    .card {
        font-size: 15px;
        text-align: center;
        font-weight: bold;
    }
   
  }

/* Attribution

background video provided by Videvo - https://www.videvo.net/video/epic-cloud-time-lapse/3079/ *\