
#city-list {
    list-style-type: none;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}
#page-header {
    font-size: 35px;
}
.lowUV {
    background-color: green;
}
.moderateUV {
    background-color: yellow;
}
.extremeUV {
    background-color: purple;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
.text-white {
    color: #264653;
    
}

label {
    color: #E9C46A;
    font-size: 25px;
}

#currentday-weather {
    background-color: #E9C46A;
}

.card {
    background-color: #E76F51;
    color: black;
    font-size: 20px;
}
nav {
    background-color: #264653;
    border-bottom: 5px solid #2A9D8F;
}
#page-header {
    color: black;
}
.card-title {
    font-weight: bold;
}

.card-subtitle {
    font-weight: bold;
    font-size: 25px;
}

.list-group-item{
    background-color: #F4A261;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: black;
}
input {
    background-color: white;
    font-size: 20px;
}
#submit-button {
    background-color: #E76F51;
    font-size: 25px;
    margin-bottom: 5px;
    color: black;
}
#search {
    border-right: 1px solid #637074;
    
}
